@mixin clearfix {
    &::after{
        content: "";
        display: table;
        // Clear both funciona con ambos float: right y left
        clear: both;
    }
}

@mixin centerHorAndVer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*

0 - 600px Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
1200 - 1800 : estilos normales (Desktop First)
1800px - +: Big desktop

Con @content pasamos el contenido de css
Usage:
@include respond-phone {
    font-size: 50%;
}
*/

@mixin respond-phone {
    @media (max-width: 600px) {
        @content
    };
}

/*
$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) {
            @content
        };
    };
}