.row{
    // Lo normal es tener rows de 1140px -> 114rem
    // Si tenemos menos espacio de 1140px se llenara todo completo
    max-width: $row-max-width;

    background-color: #eee;

    // Center the row (center block element inside another block element)
    // Con auto en left y right el navegador calcula el mismo en ambos
    margin: 0 auto;

    // Selecciona todo menos el last-child
    // para que el último no tenga margin-botton
    &:not(:last-child){
        // Espaciado por debajo en cada fila
        margin-bottom: $gutter-vertical;
    }

    // Dado que usamos float en los elementos dentro de row
    // Hay que hacer un clearfix para que no pierda alto el elemento
    @include clearfix;

    // Col inside row
    .col-1-of-2 {
        // La funcion de css calc permite mezclar unidades
        // Para usar una variable de sass dentro de la funcion
        // de css hay que escribirla como #{$var}
        width: calc((100% - #{$gutter-horizontal}) / 2);
        background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-3 {
        // La funcion de css calc permite mezclar unidades
        // Para usar una variable de sass dentro de la funcion
        // de css hay que escribirla como #{$var}
        // width: calc((100% - 2*#{$gutter-horizontal}) / 3);
        width: getWidthOfColumn(1, 3);
        background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}