.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    // Para que el borde que añadimos en :focus no haga que aumente el tamaño de la caja, lo incluimos aqui pero lo coloreamos trasparente
    border-bottom: 2px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      border-bottom: 2px solid $color-primary;

      // Los input en focus tienen capacidad de mostrar si es valido o no al tener en html required o al tener type email
      &:invalid {
        border-bottom: 2px solid $color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    padding: 1.5rem 2.5rem;
    transition: all 0.3s;
  }

  // Usando el sibling selector para elementos adyacentes +
  // El sibling selector general es ~
  // El sibling selector solo es válido para elementos que están mas abajo del DOM, no encima. Es decir, no podemos seleccionar label si esta creado en html antes del input
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    // En el estado inicial cuando el place holder se muestra en el input, el texto del label se encuentra sin opacidad en el mismo lugar que el input. En cuando comenzamos a escribir y el place holder no se ve hacemos que aparezca el texto del label en su lugar
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;

    transition: opacity 0.2s;

    &::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
    }
  }

  // Cuando se chequee el radio input seleccionamos el label sibling y el botton
  &__radio-input:checked + &__radio-label > &__radio-button::after {
    opacity: 1;
  }

  &__radio-input {
    display: none;
  }
}
