.story {
    width: 75%;
    // center block element inside block element
    margin: 0 auto;

    box-shadow: 0 3rem 6rem rgba($color-black, .1);

    background-color: rgba($color-white, .6);

    border-radius: 3px;
    
    padding: 6rem;
    padding-left: 9rem;

    font-size: $default-font-size;

    transform: skewX(-12deg);

    & > * {
        transform: skewX(12deg);
    }
    
    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        // La propiedad de abajo solo aplica si el elemento tiene alto, ancho y float
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        // Para mover el circulo que esta floated la mejor opcion es usar translates
        // Hay que volver a poner el skewX aqui debido a que la propiedad transform 
        // no hereda la del parent si no que la pisa
        transform: translateX(-3rem) skewX(12deg);

        
    }

    &__image {
        transition: all .5s;
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        font-size: 1.7rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        opacity: 0;
        transition: all .2s;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1.1);
        filter: blur(3px) brightness(80%);
    }
    
    &__text {

    }
}